.aboutSection {
  background-color: black;
  .text-about {
    h2 {
      text-align: left;
    }

    div {
      display: flex;
      justify-content: space-between;
      text-align: justify;

      p {
        width: 50%;
      }

      p:first-of-type {
        margin-right: 30px;
      }
    }
  }

  .yemen-map {
    // text-align: right;
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;

    div {
      text-align: right;
      width: 50%;
      img {
        width: 100%;
      }
    }
  }
  .only-mobile {
    display: none;
  }

  .only-desktop {
    display: block;
  }

  /* mobile */
  @media (min-width: 320px) and (max-width: 769px) {
    .yemen-map {
      display: block;
    }
  }

  .about-button-div {
    margin-top: 40px;
    width: 100%;
    text-align: center;
  }

  #aboutMoreText {
    text-align: justify;
    color: white;
  }

  .hideMore {
    display: none;
  }
}

.moreButton {
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  z-index: 2;
  transition-duration: 0.4s;
  margin: auto;
}
.moreButton:hover {
  font-size: 3.5vmin;
  color: black;
  background-color: white;
  border-radius: 7px;
  padding: 5px;
}

/* mobile */
@media (max-width: 769px) {
  .aboutSection {
    .text-about {
      div {
        display: block;
        p {
          width: 100%;
        }
      }
    }
    .yemen-map {
      img {
        width: 100%;
      }
    }
    .only-mobile {
      display: block;
      width: 100%;
    }
    .only-desktop {
      display: none;
    }
  }
  .moreButton {
    background-color: white;
    padding: 10px;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    z-index: 2;
    transition-duration: 0.4s;
    margin: auto;
  }
  .moreButton:hover {
    font-size: 30px;
    padding: 10px;
  }
}
