@import "./constants.scss";

.challengeSection {
  background-color: black;
  color: white;

  .challenge-intro-text {
    display: flex;
    justify-content: space-between;
    text-align: justify;

    p:first-of-type {
      margin-right: 30px;
    }
  }
}

.challenge-white-box {
  z-index: 1;
  width: 100%;
  height: 90%;
  background-color: white;
  position: absolute;
}
.challenge-box {
  width: 80%;
  margin: auto;
  padding-bottom: 40px;
}

.two-columns {
  position: relative;
  z-index: 10;
  display: flex;
  text-align: justify;
  margin-top: 0px;
  color: black;

  img {
    padding: 100px 30px 0px 0px;
    z-index: 10;
  }

  .challenge-info-col {
    padding: 35px 50px 35px 0px;
    z-index: 10;
    span {
      width: 50%;
      font-size: 30px;
      position: relative;
    }
  }
}

.highlight-text {
  width: 400px;
  height: 400px;
  background-color: #fb4c00;
}

/* mobile */
@media (min-width: 320px) and (max-width: 769px) {
  .challengeSection {
    .challenge-intro-text {
      display: block;

      p:first-of-type {
        margin-right: 0px;
      }
    }
  }

  .challenge-white-box {
    display: none;
  }
  .challenge-box {
    width: 100%;
    margin: auto;
  }

  .two-columns {
    padding: 20px;
    display: block;
    text-align: center;
    margin-top: 20px;
    background-color: white;

    img {
      padding: 20px 0px 0px 0px;
      z-index: 10;
      width: 80%;
    }

    .challenge-info-col {
      padding: 0px;
      z-index: 10;
      color: black;
      text-align: left;
      span {
        width: 100%;
        font-size: 20px;
        position: relative;
        font-weight: bold;
      }
    }
  }

  .highlight-text {
    width: 400px;
    height: 400px;
    background-color: #fb4c00;
  }
}
