@import "./constants.scss";

.disclaimer {
  background-color: $orange;
  font-family: $main-font;
  color: black;
  opacity: 1;
  text-align: justify;
  font-size: 2vmin;
  animation-delay: 2s;
  // display: contents;

  p {
    margin-bottom: 60px;
  }

  h1 {
    font-size: 50px;
    text-align: left;
    position: relative;
    z-index: 10;
  }

  .right-side-h1 {
    text-align: right;
  }

  .highlight1 {
    background-color: white;
    height: 40px;
    width: 630px;
    position: absolute;
    left: -20px;
    top: 0;
    z-index: 1;
  }
  .highlight2 {
    background-color: white;
    height: 40px;
    width: 600px;
    position: absolute;
    right: -20px;
    top: 0;
    z-index: 1;
  }
}

/* mobile */
@media (min-width: 320px) and (max-width: 769px) {
  .disclaimer {
    display: none;
  }
}
