@import "./constants.scss";

.header {
  padding: 100px;
  h1 {
    font-size: 100px;
    text-align: center;
  }
  img {
    display: none;
  }
}

/* mobile */
@media (max-width: 769px) {
  .header {
    padding: 20px;
    // background-color: $orange;
    // color: black;
    height: 100vh;
    display: block;
    text-align: center;
    align-items: center;
    padding-top: 50px;
    h1 {
      font-size: 55px;
      margin: 0px;
    }
    img {
      display: block;
      width: 100%;
    }
  }
}
